/* 
font-family: 'Exo', sans-serif;

*/

:root {
	--pokemon-red: #e4000f;
	--border-yellow: #ffcb05;
	--pokemon-blue: #3b4cca;
}


* {
    box-sizing: border-box; 	
}

body {
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
	color: var(--pokemon-blue);
	/* border: 5px solid var(--border-yellow); */
	line-height: 1.6;
}

h1 {
    font-family: 'Exo', sans-serif;
}
 
.main-container {
	height: 100vh;
}

.page-header {
    clear: both;
	display: flex;
	width: 100%;
	padding: 20px;
	margin: 0;
	border-bottom: 5px solid var(--border-yellow);
	background: var(--pokemon-red);
	border-bottom-left-radius: 30%;
}

.page-footer {
	clear: both;
	display: flex;
	background-color: var(--pokemon-red);
	position: sticky;
	top: 100%;
	border-top: 5px solid var(--border-yellow);
}

.button-class {
	outline: 1px solid var(--border-yellow);
	border: none;
	font-family: inherit;
	background-color: var(--pokemon-red);
	text-decoration: none;
	padding: 5px;
	width: 100%;
	margin: 5px;
}
ul {
	list-style: none;
	padding: 0%;
	min-width: fit-content;
	max-width: 10vw;
}