/* 
font-family: 'Exo', sans-serif;

*/

:root {
	--pokemon-red: #e4000f;
	--border-yellow: #ffcb05;
	--pokemon-blue: #3b4cca;
}


* {
    box-sizing: border-box; 	
}

body {
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
	color: var(--pokemon-blue);
	line-height: 1.6;
}

h1 {
    font-family: 'Exo', sans-serif;
	font-size: 50px;
}
 
.main-container {
	height: 100vh;
}

.page-header {
    clear: both;
	display: flex;
	width: 100%;
	padding: 0px;
	margin: 0;
	border-bottom: 5px solid var(--border-yellow);
	background: linear-gradient(138deg, var(--pokemon-red), var(--border-yellow), var(--pokemon-red));
	border-bottom-left-radius: 30%;
	justify-content: center;
}

.page-footer {
	clear: both;
	display: flex;
	background-color: var(--pokemon-red);
	position: sticky;
	top: 100%;
	border-top: 5px solid var(--border-yellow);
}
.pokemon-list-container {
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding: 20px;
	position: fixed;
	left: 0;
	overflow: auto;
}
/* start of styling for button/pokemonList*/

.button-class {
	outline: 1px solid var(--border-yellow);
	border: none;
	font-family: inherit;
	background: linear-gradient(90deg, #c1000d, #ff0314, #c1000d);
	text-decoration: none;
	padding: 15px;
	width: 100%;
	margin: 5px;
	border-radius: 10px;
}
ul {
	list-style: none;
	padding: 0%;
	width: 50%;
	margin: 25%;
	margin-top: 0;
}

/* Modal Styline */

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	overflow: auto;
	display: grid;
	text-align: center;
}